.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

label {
  display: inline-block;
  text-align: left;
}

input {
  display: inline-block;
  margin-top: 10px;
}

span {
  display: inline-block;
  margin: 50px;
}

span + span {
  margin: 50px 0;
}
